<!DOCTYPE html>
<html>
<head>
	<title>NeoTec - Inicia sesión o regístrate</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container2">
		<div class="login-content">
			<form action="/registro" method="POST">
				<img src="images/avatar.svg">
				<h2 class="title">Registro</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Usuario</h5>
           		   		<input type="text" class="input" name="usuario" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
					<i class="far fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Correo electronico</h5>
           		    	<input type="text" class="input" name="email" required>
            	   </div>
            	</div>
            	<div class="input-div one">
                <div class="i">
                    <i class="far fa-address-card"></i>
                 </div>
                 <div class="div">
                    <h5>Direccion</h5>
                    <input type="text" class="input" name="direccion" required>
                 </div>
                </div>
                <div class="input-div one">
                 <div class="i">
                    <i class="fas fa-lock"></i>
                 </div>
                 <div class="div">
                    <h5>Contraseña</h5>
                    <input type="password" class="input" name="contraseña" required>
                 </div>
                </div>
            	<input type="submit" class="btn" value="Registrarte">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
